@import "tailwindcss";

:root {
    --background: #0b0e11;
    --text: #f5f5f5;
    --border: #00f0ff;
    --shadow: #ff5c00;
    --btn: #ff5c00;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-border: var(--border);
    --color-text: var(--text);
    --color-shadow: var(--shadow);
    --color-btn: var(--btn);
}

body {
    background: var(--background);
    color: var(--foreground);
}
